<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Easy-Kexts</title>
        <link href="https://cdn.bootcdn.net/ajax/libs/bulma/0.9.1/css/bulma.min.css" rel="stylesheet">
        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
        <style>*{font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC","Microsoft YaHei", "WenQuanYiMicro Hei", sans-serif}</style>
        <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                $notification = $delete.parentNode;
                $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
                });
            });
            });
        </script>
    </head>
    <body>
        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
          <ul>
            <li>
              <a href="http://bbs.pcbeta.com/">
                <span class="icon is-medium">
                  <i class="fab fa-apple"></i>
                </span>
                <span>远景</span>
              </a>
            </li>
            <li>
              <a href="https://dortania.github.io/OpenCore-Install-Guide/" target="_blank">
                <span class="icon is-medium">
                  <i class="fas fa-anchor"></i>
                </span>
                <span>指南</span>
              </a>
            </li>
            <li>
              <a href="https://gitee.com/" target="_blank">
                <span class="icon is-medium">
                  <i class="fab fa-gratipay" aria-hidden="true"></i>
                </span>
                <span>码云</span>
              </a>
            </li>
            <li>
              <a href="https://evu.gitee.io/easy-kexts-stable/" target="_blank">
                <span class="icon is-medium">
                  <i class="fas fa-bolt" aria-hidden="true"></i>
                </span>
                <span>主页</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="container has-text-centered">
            <div class="notification is-success is-light">
              <button class="delete"></button>
              本次更新时间 {{ time }}
            </div>
        </div>
        <section class="section" name="Core">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th><abbr>一级分类</abbr></th>
                                <th><abbr>二级分类</abbr></th>
                                <th><abbr>项目名称</abbr></th>
                                <th><abbr>版本信息</abbr></th>
                                <th><abbr>发布时间</abbr></th>
                                <th><abbr>同步方式</abbr></th>
                                <th><abbr>下载地址</abbr></th>
                            </tr>
                        </thead>
                        <tfoot>
                            {% for website in websites %}
                            <tr>
                                <th><span class="tag is-primary is-light">{{ sort1 }}</span></th>
                                <th><span class="tag is-primary is-light">{{ sort2 }}</span></th>
                                <th><a href="{{ projectLink }}" target="_blank"><span class="tag is-primary">{{ projectName }}</span></a></th>
                                <th><span class="tag is-success is-light">{{ versionTag }}</span></th>
                                <th><span class="tag is-success">{{ releaseDate }}</span></th>
                                <th><span class="tag is-success">{{ updateWay }}</span></th>
                                {% for files in websites %}
                                <th><a href="https://cdn.jsdelivr.net/gh/woq/Hackintosh-Resources/{{ fileName }}" target="_blank"><span class="tag is-link">{{ fileName }}</span></a></th>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>